:root {
  --red: #ec4545;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

body .colmy {
  padding: 0;
}

header {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
  z-index: 1;
}

.header_logo {
  padding: 37px 0 0 40px;
}

.header_logo span {
  font-weight: normal;
  font-size: 20.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A64533;
}

.header_title {
  padding-top: 37px;
  font-weight: bold;
  font-size: 20.5px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A64533;
}

.header_email {
  padding-top: 72px;
  text-align: right;
}

.header_email_span {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.header_tel {
  padding-top: 69px;
  text-align: center;
}

.header_tel img {
  padding-bottom: 8px;
}

.header_tel_span {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #222222;
}

.lines {
  border: 0.5px dashed #676767;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

nav {
  margin-top: 3px;
  padding: 8px 9px;
  background: #222222;
  -webkit-box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 15px 90px 14px 90px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--red);
}

nav ul li a:hover {
  text-decoration: none;
}

.carousel_wrapper {
  position: relative;
  z-index: 1;
  padding-top: 89px;
}

.carousel_title {
  font-style: normal;
  font-weight: bold;
  font-size: 51px;
  line-height: 73px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.carousel_btn {
  margin-top: 89px;
  padding: 21px 38px;
  border-radius: 40px;
  background: var(--red);
}

.carousel_btn a {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.carousel_fluid {
  position: absolute;
  top: -69px;
}

.carousel_left {
  width: 26px;
  height: 32px;
  position: absolute;
  padding-bottom: 40px;
  left: 40%;
  top: 92%;
  z-index: 5;
  display: inline-block;
}

.carousel_right {
  width: 26px;
  height: 32px;
  position: absolute;
  left: 58%;
  top: 92%;
  z-index: 5;
  display: inline-block;
}

.information {
  margin-top: 181px;
}

.information_h2 {
  display: block;
  margin: 0 auto;
  width: 871px;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #444444;
}

.information_block {
  padding-left: 62px;
  padding-right: 53px;
}

.information_block_span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.information_block_size {
  position: relative;
  width: 232px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 21px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--red);
}

.information_block_size::before {
  content: '';
  position: absolute;
  top: 85px;
  left: 45px;
  width: 151px;
  height: 1px;
  background: #C4C4C4;
}

.information_block_size::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 20px;
  top: 110px;
  left: 130px;
  background: #C4C4C4;
}

.information_block_size div {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.information_block_size-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information_block_size-2_div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 237px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--red);
}

.information_block_size-2_div-1 div {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-left: 13px;
  color: #222222;
}

.information_block_size-2_div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 194px;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--red);
}

.information_block_size-2_div-2 div {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-left: 13px;
  padding-top: 4px;
  line-height: 19px;
  color: #222222;
}

.information_container {
  padding-top: 102px;
}

.information_elipse {
  position: relative;
  width: 123px;
  height: 123px;
  margin: 0 auto;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
}

.information_elipse img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.information_line-1 {
  padding-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.information_line-2 {
  padding-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.forms {
  margin-top: 106px;
  padding-bottom: 100px;
  background-image: url("/src/img/forms/Rectangle.png");
}

.forms_title {
  padding-top: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.forms_subtitle {
  width: 774px;
  margin: 0 auto;
  padding: 21px 0 13px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #818181;
}

.forms_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 432px;
}

.forms_feed input {
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 13px;
  border: none;
  padding: 15px 0 15px 15px;
  color: #818181;
  font-size: 16px;
  font-weight: 300;
}

.forms_feed input:nth-child(2) {
  margin-bottom: 21px;
}

.forms_btn {
  margin: 0 auto;
  width: 292px;
  background: var(--red);
  border-radius: 40px;
  padding: 21px 35px;
  line-height: 28px;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.forms_checkbox {
  font-style: normal;
  font-weight: 300;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 144.68%;
  color: #FFFFFF;
}

.forms_checkbox input {
  margin-right: 13px;
}

.carouselmin {
  background: url("/src/img/carouselmin/b.png");
  padding-bottom: 100px;
}

.carouselmin_line {
  width: 100%;
  margin-top: -12px;
}

.carouselmin h2 {
  margin: 0;
  padding-top: 82px;
  padding-bottom: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.carouselmin_carousel {
  position: relative;
  margin: 0 auto;
}

.carouselmin_carousel .slick-prev, .carouselmin_carousel .slick-next {
  position: absolute;
  background: url("/src/img/carouselmin/b.png");
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}

.carouselmin_carousel .slick-prev img, .carouselmin_carousel .slick-next img {
  width: 15px;
  height: 30px;
}

.carouselmin_carousel .slick-next {
  left: auto;
  right: -66px;
}

.work {
  background: url("../img/work/fon.png");
  padding-bottom: 100px;
}

.work_line {
  width: 100%;
  margin-top: -19px;
}

.work h2 {
  padding: 75px 0 41px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #444444;
}

.work_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 357px;
  height: 177px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.work_wrapper_img {
  padding: 64px 0 64px 29px;
}

.work_subwrapper {
  padding: 25px 27px 25px 36px;
}

.work_subwrapper_line-4 {
  padding: 44px 35px 44px 36px;
}

.work_subwrapper_line-3 {
  padding: 57px 55px 57px 36px;
}

.work_subwrapper_line-4b {
  padding: 50px 55px 44px 36px;
}

.work_subwrapper_line-5 {
  padding: 36px 24px 36px 36px;
}

.work_subwrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #444444;
}

.work_subwrapper p a img {
  padding: 0;
}

.work_container {
  height: 40px;
}

.work_btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  border-radius: 40px;
  background: var(--red);
  padding: 21px 38px;
}

.work_btn a {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.formsborder {
  background: url("../img/formsborder/fon.png");
  padding-bottom: 100px;
}

.formsborder img {
  width: 100%;
  margin-top: -18px;
}

.formsborder_wrapper {
  margin-top: 95px;
  padding: 63px 37px 57px 37px;
  border: 2px dashed #FFFFFF;
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.15));
  border-radius: 25px;
}

.formsborder_feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 363px;
}

.formsborder_feed input {
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 13px;
  border: none;
  padding: 15px 0 15px 15px;
  color: #818181;
  font-size: 16px;
  font-weight: 300;
}

.formsborder_feed input:nth-child(2) {
  margin-bottom: 21px;
}

.formsborder_btn {
  margin: 0 auto;
  width: 290px;
  background: var(--red);
  border-radius: 40px;
  padding: 21px 35px;
  line-height: 28px;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.formsborder_checkbox {
  font-style: normal;
  font-weight: 300;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 144.68%;
  color: #FFFFFF;
}

.formsborder_checkbox input {
  margin-right: 13px;
}

.formsborder_subwrapper {
  margin-top: 82px;
}

.formsborder_subwrapper_title {
  padding-bottom: 33px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.formsborder_subwrapper_subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #818181;
}

.partners {
  padding-top: 83px;
  padding-bottom: 100px;
  background: #F4F4F4;
}

.partners_title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #444444;
}

.partners_subtitle {
  padding-top: 21px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.partners_carousel {
  position: relative;
}

.partners_carousel img {
  width: 160px;
  height: 149px;
}

.partners_carousel .slick-prev, .partners_carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #F4F4F4;
}

.partners_carousel .slick-prev img, .partners_carousel .slick-next img {
  width: 15px;
  height: 30px;
}

.partners_carousel .slick-next {
  left: auto;
  right: -66px;
}

.partners_services {
  padding-top: 38px;
  padding-bottom: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.partners h3 {
  margin: 0;
  padding-bottom: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #444444;
}

.partners_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 19px;
}

.partners_wrapper {
  background: #FFFFFF;
  text-align: center;
  border-radius: 15px;
  padding: 12px 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: var(--red);
}
/*# sourceMappingURL=style.css.map */